body {
  margin: auto;
  padding: 10px;
  text-align:center;
  font-size:150%;
}

#download-button {
  background-color: dodgerblue;
  border: none;
  width: 280px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
